div.text {
	background: linear-gradient(-45deg, #ffefdb, #ffba82, #804a0c, #9c5d15);
	background-size: 300%;
    font-family: 'Minecraft', sans-serif;
	font-size: 25px;
	letter-spacing: 0px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

p {
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
 }